html {
  font-family: Roboto, sans-serif;
}

header {
  position: relative;
  background-color: #fdeb3f;
}

.header-p {
  max-width: 30em;
}

.nat {
  text-decoration: none;
  color: #fff;
  background-color: #000;
}

.btn {
  background-color: #fdeb3f;
  color: #000;
  border-color: #fdeb3f;
  border-radius: 20px;
}

.btn:hover {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.banner {
  color: #fff;
  max-width: 35em;
  margin: 0 auto;
}

.card {
  background-color: #000;
  color: #fff;
  min-height: 9rem;
  max-height: 9rem;
}

.card-two {
  background-color: #fdeb3f;
  border-color: #000;
  border-width: 10px;
  border-style: solid;
  color: #000;
  max-height: 15rem;
  min-height: 12rem;
}

.card-three {
  background-color: #fdeb3f;
}

footer {
  background-color: #000;
  color: #fff;
}

.footer-class {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}

.footer-class-two {
  color: #000;
  list-style-type: none;
  text-decoration: none;
}

.footer-class-two:hover {
  color: #fff;
}

.card-color {
  background-color: #000;
}

a:focus {
  outline: 3px solid #fff;
  background-color: #fff;
  color: #000;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
}

table {
  border: 1px solid #fdeb3f;
}

th, td {
  border: 1px solid #fdeb3f;
}

.card-four {
  background-color: #fdeb3f;
}

.card-f {
  border-style: solid;
  border-width: 10px;
  border-color: #000;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  background-color: #fdeb3f;
}

.card-five {
  max-width: 30em;
  margin: 0 auto;
}

.free {
  max-width: 30em;
}

a:hover {
  color: #fdeb3f;
}

.card-c {
  background-color: #fdeb3f;
}

.text-e {
  max-width: 40em;
}

.single-first {
  background-color: #fff;
  color: #000;
  border-radius: 20px;
}

.single {
  background-color: #000;
  color: #fff;
  border-radius: 20px;
}

.equal {
  min-height: 13em;
}

.equal-two {
  min-height: 20em;
}

.frm {
  background-color: #000;
  color: #fff;
}

.first-boo:hover {
  background-color: #000;
  color: #fff;
}

input, select, textarea {
  background-color: #fdeb3f;
  border-color: #fdeb3f;
  border-radius: 10px;
  color: #000;
}

.all {
  background-color: #000;
}

.srch {
  border-color: #000;
  border-radius: 0;
}

.banner-simple {
  background-image: url("../images/galaxy-infinity-milky-way.jpg");
  background-size: 100% 100%, cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner-second {
  background-image: url("../images/astronomy-crater-dark.jpg");
  background-size: 100% 100%, cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner-two {
  background-color: transparent;
  color: #000;
  max-width: 35em;
}

.banner-pricing {
  background-color: #000;
  color: #fff;
}

.baa {
  background-color: #000;
}

.sign {
  text-decoration: none;
  color: #000;
}

.wall {
  text-decoration: none;
  color: #fff;
}

.bruh {
  background-color: #fdeb3f;
  color: #000;
}

@media only screen and (min-width: 38em) {

  .unique {
    padding-right: 1.5rem;
  }

  .blah {
    text-align: right;
  }

}
