html {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
  background-color: #fdeb3f;
}

.nav {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fdeb3f;
  z-index: 200;
}

.nav-check {
  position: absolute;
  top: -10em;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  right: 0;
  bottom: 0;
  margin-bottom: .8rem;
  margin-right: .5rem;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.btn-nav {
  background-color: #000;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  border-radius: 10px;
}

.btn {
  background-color: #fdeb3f;
  color: #000;
  border-color: #fdeb3f;
  border-radius: 20px;
}

.banner {
  color: #fff;
  background-color: rgba(0,0,0,.3);
}

h2 {
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

p {
  font-weight: lighter;
}

.card {
  background-color: #000;
  color: #fff;
  min-height: 9rem;
  max-height: 9rem;
}

.card-two {
  background-color: #fdeb3f;
  border-color: #000;
  border-width: 10px;
  border-style: solid;
  color: #000;
  max-height: 9rem;
  min-height: 9rem;
}

.card-three {
  background-color: #fdeb3f;
  border-style: solid;
  border-width: 10px;
  border-color: #000;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

footer {
  background-color: #000;
  color: #fff;
}

.footer-class {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}

.image-tag-one {
  min-height: 15em;
  max-height: 15em;
}
@media only screen and (min-width: 48em) {
  .card-first {

  }
}
