html {
  font-family: 'Roboto', sans-serif;
}

header {
  position: relative;
  background-color: #fdeb3f;
}

.nav {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  background-color: #fdeb3f;
}

.nav-check {
  position: absolute;
  top: -10em;
}

.nav-label {
  cursor: pointer;
  display: inline-block;
  width: 40px;
  right: 0;
  bottom: 0;
  margin-bottom: .8rem;
  margin-right: .5rem;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.btn-nav {
  background-color: #000;
  color: #fff;
  list-style-type: none;
  text-decoration: none;
  border-radius: 10px;
}
